body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background-color: #F9F6F2;
}

button {
  border: none;
}

.drink-options {
}

.square {

}

.content {
  background-color: #F9F6F2;
  padding: 25px;
}

.img-responsive {
  display: inline;
}

.img-circle {
  padding-bottom: 10px;
}

.icons {
  width: 50%;
  padding-bottom: 10px;
  max-width: 75px;
}


p {
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #13358C;
}

nav {
  padding-top: 10px;
  background-color: #F0534F;
  padding-bottom: 10px;
}

hr {
  width: 75%;
  display: block;
  border: 0;
  border-top: .5px solid #13358C;
}

h5 {
  letter-spacing: 2px;
  font-weight: 600;
}

.logo {
  width: 30%;
  max-width: 150px;
}

h3 {
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 18px;
  padding-top: 5px;
  color: #13358C;
}

.header-img {
  width: 100%;
  overflow: hidden;
  background-size: cover;
/*  max-height: 400px;*/
}

.text-left {
  text-align: left;
  margin-left: 4%;
}

.text-left h3 {
  margin-top: 3px;
}

button {
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 20px;
/*  width: 80%*/
  margin-left: 10px;
  margin-right: 10px;
  background-color: #F9F6F2;
  color: #13358C;
  border: 3px solid #13358C;
}

.button {
  margin: 0 auto;
}

button:hover {
    background-color: #13358C;
    color: #F9F6F2;
}

button:focus {
  outline:0;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #13358C;
  margin-top: 15px;
  margin-bottom: 10px;
}

footer {
  padding-bottom: 8px;
}

small {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #BCAA96;
}